# DataScience&Ecosystem

## Introduction
This notebook covers various aspects of data science, including languages, libraries, and tools.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn

## Data Science Tools

| Tool        | Description                           |
|-------------|---------------------------------------|
| Jupyter     | An open-source web application for notebooks |
| GitHub       | A platform for version control and collaboration |
| RStudio      | An IDE for R language                    |
| Anaconda     | A distribution for Python and R, including many libraries |

## Arithmetic Expression Examples
Below are examples of arithmetic expressions you can perform:
- Addition
- Subtraction
- Multiplication
- Division

In [4]:
# Multiply and Add Numbers
a = 5
b = 10
result = (a * b) + (a + b)
result

65

In [3]:
# Convert Minutes to Hours
def minutes_to_hours(minutes):
    return minutes / 60

minutes = 120
hours = minutes_to_hours(minutes)
hours

2.0

## Objectives
- Understand how to use Markdown in Jupyter notebooks.
- Learn how to perform basic arithmetic operations in Python.
- Convert time units and display results.

## Author
This notebook was created by Imrane Benhaddouche.